body
	margin: 0
	font-family: 'PT Sans Narrow', sans-serif

//STYLE THE HEADER
header
	padding: 2%
	background-color: #5E1214

#bannerone
	display: none

nav //use nesting for creating the navigation panel
	ul
		padding: 2%
		margin: 0 0 10px 0 //also removes default margin
		background-color: black
		text-align: center

		li
			list-style-type: none //remove the bulletpoints
			display: inline

			a
				color: white
				font-size: 20px
				text-decoration: none //remove underline from the nav bar
				padding-left: 1% //separate the words from each other


//STYLE THE MAIN
main
	margin: 0px 25px

//hide the date, side banners and the main banner
#date
	display: none

.sidebanner
	display: none

#middlebanner
	display: none

h1
	font-size: 20px
	padding: 0.5%
	color: #4B4B4B

div
	display: flex
	flex-flow: row wrap
	justify-content: space-between

article
	background-color: black
	padding-bottom: 1.5%
	margin-bottom: 5%
	height: auto
	width: 47%

article
	img
		width: 100%
		height: 70%
		object-fit: cover
	p
		margin: 0
		padding-left: 1.5%
		color: white
		font-size: 3vw
a
	text-decoration: none

#fswdmobile
	padding-bottom: 0
	img
		width: 100%
		height: 100%
		object-fit: cover
		

//STYLE THE FOOTER
footer
	background-color: black
	text-align: center

#navbottom
	a
		font-size: 15px

#copyright
	color: white
	margin: 0
	padding: 20px


//For screens bigger than 480px
//shows only im inspect mode while resizing the browser!!!
@media screen and (min-width: 480px)

	#fswdmobile
		display: none
	
	#date
		display: block

	header
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
	
	#date
		padding: 1%
		text-align: right

	nav
		ul
			text-align: left

	article
		width: 30%
		p
			font-size: 2.1vw

	#middlebanner
		width: 100%
		display: flex
		justify-content: center
		margin-bottom: 4%
		a
			img
				width: 100%
				height: 100%
				object-fit: cover

//For screens bigger than 1024px
@media screen and (min-width: 1024px)
	
	#fswdmobile
		display: none

	#bannerone
		display: block

	.sidebanner
		display: block

	#middlebanner
		display: block
	
	#date
		display: block

	header
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
	
	#date
		padding: 1%
		text-align: right

	nav
		ul
			text-align: left

	article
		width: 30%
		p
			font-size: 2.1vw

	.twotimestwo
		width: 47%

	.sidebanner
		float: right
		margin-left: 2%
		width: 15vw
		a
			img
				width: 100%
				height: 100%
				object-fit: cover

	#FSWD
		height: 59vw

	#CF
		position: relative
		bottom: 68vw
		right: 0px
		height: 64vw

	#middlebanner
		width: 100%
		display: flex
		justify-content: center
		margin-bottom: 4%
		a
			img
				width: 100%
				height: 100%
				object-fit: cover


	


